#blackbar {
    background-color: black;
    height: .5vh;
}
.video {
    position: relative;
}
.upperText {
    display: none;
}

.typeOne {
    letter-spacing: .1em;
    font-weight: bold;
}


#name {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
     color: black;
    text-align: left;
    font-size: .8em;

    z-index: 2;
}
#back{
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
     color: black;
    text-align: left;
    font-size: .8em;

    z-index: 2;
}
#description {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
      color: black;
    text-align: left;
    font-size: .8em;

    z-index: 2;
    width: 50em
}


#title {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
      position: relative;
    color: black;
    text-align: left;
    font-size: .8em;

    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#container{
    
}
.upperText{
max-width:700px;
	width:100%;
margin:auto;	
}

#container img {
}

.upperSpacer{
    position: relative;
    height: 100px;
}

.spacer { 
    position: relative;
    height: 1em;
}

.outerSpacer {
    position: relative;
    height: 40px;
}

.innerText {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    color: black;
    font-size: .8em;
    position: absolute;
    width: 400px;
    margin-left: 33.5em;
    opacity: 0;
}

div[id^="tn-"] {
    position: relative;
    height: 1em;

    background-size: 400px;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    -webkit-transition: -webkit-filter 2500ms;
    z-index: 2;
    
}

#container div.allowHover:hover{
        -webkit-filter: grayscale(0%);
        cursor: pointer;
}
#back:hover {
    cursor: pointer;
    width: 45px;
}

footer {
    position: absolute;
}

.fadeElement {
    opacity: 0%;
    padding:0em 1em 1em 0em;
}
footer .inner-pages{
display:none;	
}
footer #title {
  display: none;
}
#main-page{
display:none;	
}
/*page loading animation styling */
#loader {
  position: absolute;
 left: 0;
  top: 0;
  right:0;
  bottom:0;
  margin:auto;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #343434;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@media only screen and (max-width:767px){
#container {
  margin:0 3%;
  position:static;
}	
#back {
    margin: 0 2.5%;
  }
  #title {
  margin:0 2%;
 position:static;
 }
#description {
  margin:0 2%;
  width: 100%;
}
#container {
  margin: 0 10px;
  position: static;
  width: auto;
}
#container img {
  width: 100%;
}
#container a img {
  padding: 0;
  width: calc(50% - 3px);
}
iframe {
  width: 100%;
  height:250px;
}
.upperSpacer {
  height: 50px;
  position: relative;
}
}