
.video {
    position: relative;
}
.upperText {
    display: none;
}

.typeOne {
    letter-spacing: .1em;
    font-weight: bold;
}


#name {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
     color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
}
#back{
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
     color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
}
#description {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
      color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
    width: 50em
}


#title {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
      position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#container{
    
}
.upperText{
max-width:700px;
	width:100%;
margin:auto;	
}

#container img {
}

.upperSpacer{
    position: relative;
    height: 100px;
}

.spacer { 
    position: relative;
    height: 1em;
}

.outerSpacer {
    position: relative;
    height: 40px;
}

.innerText {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    color: black;
    font-size: .8em;
    position: absolute;
    width: 400px;
    margin-left: 33.5em;
    opacity: 0;
}

div[id^="tn-"] {
    position: relative;
    height: 1em;

    background-size: 400px;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    -webkit-transition: -webkit-filter 2500ms;
    z-index: 2;
    
}

#container div.allowHover:hover{
        -webkit-filter: grayscale(0%);
        cursor: pointer;
}
#back:hover {
    cursor: pointer;
    width: 45px;
}

footer {
    position: absolute;
}

.fadeElement {
    opacity: 0%;
    padding:0em 1em 1em 0em;
}

@media only screen and (max-width:767px){
#container {
  margin:0 3%;
  position:static;
}	
#back {
    margin: 0 2.5%;
  }
  #title {
  margin:0 2%;
 position:static;
 }
#description {
  margin:0 2%;
  width: 100%;
}
#container {
  margin: 0 10px;
  position: static;
  width: auto;
}
#container img {
  width: 100%;
}
#container a img {
  padding: 0;
  width: calc(50% - 3px);
}
iframe {
  width: 100%;
  height:250px;
}
.upperSpacer {
  height: 50px;
  position: relative;
}
}