
.video {
    position: relative;
}
.upperText {
    display: none;
}
#name {
    font-family: Gotham, Avenir, sans-serif;
    font-weight: lighter;
    left: 18.5%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
}
#back{
    font-family: Gotham, Avenir, sans-serif;
    font-weight: lighter;
    left: 18.5%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
}
#description {
    font-family: Gotham, Avenir, sans-serif;
    font-weight: lighter;
    left: 20%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
    width: 50em
}


#title {
    font-family: Gotham, Avenir, sans-serif;
    font-weight: lighter;
    left: 20%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#container{
    position: absolute;
    left: 20%;
}

#container img {
}

.upperSpacer{
    position: relative;
    height: 100px;
}

.spacer { 
    position: relative;
    height: 1em;
}

.outerSpacer {
    position: relative;
    height: 40px;
}

.innerText {
    font-family: Gotham, Avenir, sans-serif;
    font-weight: lighter;
    color: black;
    font-size: .8em;
    position: absolute;
    width: 400px;
    margin-left: 33.5em;
    opacity: 0;
}

div[id^="tn-"] {
    position: relative;
    height: 1em;

    background-size: 400px;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    -webkit-transition: -webkit-filter 2500ms;
    z-index: 2;
    
}

#container div.allowHover:hover{
        -webkit-filter: grayscale(0%);
        cursor: pointer;
}
#back:hover {
    background-color: #ddff02;
    cursor: pointer;
    width: 45px;
}

footer {
    position: absolute;
}

.fadeElement {
    opacity: 0%;
    padding:0em 1em 1em 0em;
}
