.subtext {
    font-size: .8em;
    font-style: italic;
}

.video {
    position: relative;
}
.upperText {
    display: none;
}
#name {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    left: 8.5%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
}
#back{
    font-family: Helvetica, Avenir, sans-serif;

    font-weight: lighter;
    left: 8.5%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
}
#about {
    opacity: .5;
    z-index: 3;
}
#description {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    left: 10%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: 1;
    z-index: 2;
    width: 30em
}


#title {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    left: 10%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#container{
    position: absolute;
    top: 25vh;
    left: 30vw;
}

#container img {
    opacity: 0;
}

.upperSpacer{
    position: relative;
    height: 10vh;
}

.spacer { 
    position: relative;
    height: 1em;
}

.outerSpacer {
    position: relative;
    height: 1vh;
}


div[id^="tn-"] {
    position: relative;
    height: 1em;

    background-size: 400px;
    background-position: left;
    background-repeat: no-repeat;
/*    overflow: hidden;*/
    -webkit-filter: grayscale(100%);
    -webkit-transition: -webkit-filter 2500ms;
    z-index: 2;
    
}

#tn-motiongraphics {
    background-image: url(images/motiongraphics/tn/wide.jpg);
         width: 40em;
}

#tn-graphicdesign {
    background-image: url(images/graphicdesign/tn/tn-graphicdesign.jpg);
         width: 40em;
}


#tn-hive {
    background-image: url(images/hive/tn/2_tn_wide.jpg);
        width: 40em;
}

#tn-stilllife {
    background-image: url(images/stilllife/tn/1_wide.jpg);
        width: 40em;
}

#tn-understated {
    background-image: url(images/understated/1.jpg);
    width: 40em;
}

#container div.allowHover:hover{
        -webkit-filter: grayscale(0%);
        cursor: pointer;
}
a:hover {
    background-color: #ddff02;
    cursor: pointer;
}

footer {
    position: absolute;
    left: 80%;
    
}

.underText {
    font-family: Helvetica, Avenir, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
    
}

.frontgraph {
    background-image: url(linez.gif)
}
