.upperText {
  margin: auto;
  max-width: 850px;
}

.subtext {
    font-size: .8em;
    font-style: italic;
}

.video {
    position: relative;
}
.upperText {
    display: none;
}
#name {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    left: 8.5%;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
    display: inline-block;
}
#back{
    font-family: Helvetica, Avenir, sans-serif;

    font-weight: lighter;
    margin-left: 8.5%;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
}
#description {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
    margin-left: 10%;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
    width: 30em
}

#bio {
     margin-left: 10%;
}
#title {
    font-family: Helvetica, Avenir, sans-serif;
    font-weight: lighter;
   margin-left: 10%;
      color: black;
    text-align: left;
    font-size: .8em;
    opacity: .7;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#container {
  left: 43vw;
  position: absolute;
  top: 15vh;
}
#container img {
    opacity: 0;
}

.upperSpacer{
    position: relative;
    height: 10vh;
}

.spacer { 
    position: relative;
    height: 1em;
}

.outerSpacer {
    position: relative;
    height: 1vh;
}


div[id^="tn-"] {
    position: relative;
    height: 0em;

    background-size: 400px;
    background-position: left;
    background-repeat: no-repeat;
/*    overflow: hidden;*/
    -webkit-filter: grayscale(100%);
    -webkit-transition: -webkit-filter 2500ms;
    z-index: 2;
    
}

#tn-motiongraphics {
    background-image: url(images/motiongraphics/tn/wide.jpg);
         width: 25em;
}

#tn-graphicdesign {
    background-image: url(images/graphicdesign/tn/tn-graphicdesign.jpg);
         width: 25em;
}


#tn-hive {
    background-image: url(images/hive/tn/2_tn_wide.jpg);
        width: 25em;
}

#tn-stilllife {
    background-image: url(images/stilllife/tn/1_wide.jpg);
        width: 25em;
}

#tn-understated {
    background-image: url(images/understated/tn/wide.jpg);
    width: 25em;
}

#container div.allowHover:hover{
        -webkit-filter: grayscale(0%);
        cursor: pointer;
}
a:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    left: 80%;
    
}

.underText {
    font-family: Helvetica, Avenir, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    position: relative;
    color: black;
    text-align: left;
    font-size: .8em;
    opacity: .5;
    z-index: 2;
    
}


footer #title {
  display: none;
}

@media only screen and (max-width:767px){
	.upperSpacer {
  height: 6vh;
  position: relative;
}
footer #title {
  display: block;
  font-size: 16px;
  position: static;
  text-align: center;
  margin: 10px 0;
}
footer #title img {
  width: 45px !important;
  height: 45px !important;
}
.allowHover {
  width: 100% !important;
}
#title{
	display:none;
}
#container {
  left: 30vw;
  position: static;
  top: 25vh;
}
.allowHover {
  width: 100% !important;
  background-size: cover !important;
}
footer {
  left: 80%;
  position: static;
}
footer #title a {
  display: block;
  margin: 10px 0;
}
#name {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.8;
  position: static;
  text-align: center;
  margin-bottom: 30px;
  display: block;
}
#description {
  color: black;
  font-family: Helvetica,Avenir,sans-serif;
  font-size:14px;
  font-weight: lighter;
  margin: 20px;
  opacity: 1;
  text-align: left;
  width: auto;
  z-index: 2;
  line-height:22px;
}
.subtext {
  font-size: 12px;
  font-style: italic;

}
div[id^="tn-"] {
   filter: grayscale(0%);
}
	
	}
